.color-pallet-base {
    color: #dcdcdd;
    color: #157a6e;
    color: #1a1b1c;
    color: #4c5c68;
    color: #1670a0;
}

.color-pallet-grade {
    color: #819794;
    color: #070f12;
    color: #6a7770;
    color: #26302f;
    color: #484e4a;
}